@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-black" asp-area="" asp-controller="LoanRequest" asp-action="Create"><h1>Faça já seu pedido de empréstimo!!</h1></a>
</div>
