@{
	ViewData["Title"] = "Home Page";
}

<div class="container text-center">
	<div class="row">
		<div class="col">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="" src="~/images/Logo_EmpresteFacil.png" alt="Logo Empreste Fácil"></a>
		</div>
		<div class="col">
			<div class="col">
				<label for="customRange1" class="form-label"><h5>Simule o emprestimo desejado aqui</h5></label>
				<input type="range" min="R$500,00" max="R$50.000,00" class="form-range std-color" id="customRange1">
			</div>
			<div class="col">
				<div class="btn-group mx-wid" role="group" aria-label="Basic example">
					<button type="button" class="btn std-bk-color p-3 ">Valor 1</button>
					<button type="button" class="btn std-bk-color p-3 ">Valor 2</button>
					<button type="button" class="btn std-bk-color p-3 ">Valor 3</button>
					<button type="button" class="btn std-bk-color p-3 ">Valor 4</button>
				</div>
				<h5 class="p-3">Simulação de suas parcelas</h5>
			</div>
			<div class="col">
				<button type="button" class="btn std-bk-color mx-wid p-3">Solocitar meu Crédito</button>
			</div>
		</div>

		<section class="row mt-5 border-top border-success">
			<h2 class="mt-5 mb-3">Depoimentos de usuários</h2>
			<article class="col-4">
				<h5>Cliente 1</h5>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur vel nobis aut iure delectus nulla illo, praesentium dolorum non dicta explicabo alias recusandae nostrum perspiciatis eius ducimus et facilis reprehenderit. Quos, quod. Nihil blanditiis eum delectus quos voluptatum exercitationem. Nobis obcaecati quisquam quia vitae dolor. Pariatur praesentium consectetur officia ullam
				</p>
			</article>
			<article class="col-4">
				<h5>Cliente 2</h5>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur vel nobis aut iure delectus nulla illo, praesentium dolorum non dicta explicabo alias recusandae nostrum perspiciatis eius ducimus et facilis reprehenderit. Quos, quod. Nihil blanditiis eum delectus quos voluptatum exercitationem. Nobis obcaecati quisquam quia vitae dolor. Pariatur praesentium consectetur officia ullam.
				</p>
			</article>
			<article class="col-4">
				<h5>Cliente 3</h5>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur vel nobis aut iure delectus nulla illo, praesentium dolorum non dicta explicabo alias recusandae nostrum perspiciatis eius ducimus et facilis reprehenderit. Quos, quod. Nihil blanditiis eum delectus quos voluptatum exercitationem. Nobis obcaecati quisquam quia vitae dolor. Pariatur praesentium consectetur officia ullam.
				</p>
			</article>
		</section>
	</div>
</div>
