@model List<Usuario>
<div class="container">
    <div>
        <h4>Usuarios cadastrados</h4>
        <hr />
        <table class="container">
            @foreach (var item in Model)
            {
            <tr>
                <th>
                        @Html.DisplayFor(model => item.Nome)
                </th>
                <th>
                        @Html.DisplayFor(model => item.Email)
                </th>
                <th>
                        @Html.DisplayFor(model => item.Perfil)
                </th>
                <th></th>
            </tr>
            }
        </table>
    </div>
</div>