@model EmpresteFacil.Models.PessoaFisica

@{
	ViewData["Title"] = "Create";
}

<div claclass="container text-center">
	<div class="row justify-content-center align-items-center">

		<div class="col-4">
			<span class="align-middle">
				<img class="img-fluid mx-auto d-block" src="~/images/logo.png" alt="Registrar Usuário">
			</span>
		</div>

		<div class="col-md-4">
			<h1 class="mb-3">Finalize sua conta de Pessoa Fisica</h1>
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Cpf" class="control-label"></label>
					<input asp-for="Cpf" class="form-control" />
					<span asp-validation-for="Cpf" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Nome" class="control-label"></label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Sobrenome" class="control-label"></label>
					<input asp-for="Sobrenome" class="form-control" />
					<span asp-validation-for="Sobrenome" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Rg" class="control-label"></label>
					<input asp-for="Rg" class="form-control" />
					<span asp-validation-for="Rg" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="GrauEscolaridade" class="control-label"></label>
					<input asp-for="GrauEscolaridade" class="form-control" />
					<span asp-validation-for="GrauEscolaridade" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="DataNascimento" class="control-label"></label>
					<input asp-for="DataNascimento" class="form-control" />
					<span asp-validation-for="DataNascimento" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Celular" class="control-label"></label>
					<input asp-for="Celular" class="form-control" />
					<span asp-validation-for="Celular" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="TelefoneFixo" class="control-label"></label>
					<input asp-for="TelefoneFixo" class="form-control" />
					<span asp-validation-for="TelefoneFixo" class="text-danger"></span>
				</div>

				<div class="form-group mt-2 mb-2">
					<label asp-for="Senha" class="control-label"></label>
					<input asp-for="Senha" class="form-control" />
					<span asp-validation-for="Senha" class="text-danger"></span>
				</div>

				<div>
					<div class="col  btn-group d-grid gap-3" role="group">
						<input type="submit" value="Criar" class="btn btn-outline-success btn-lg" />
						<a class="btn btn-outline-secondary btn-lg" asp-controller="Home" asp-action="Index">Cancelar</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
