@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Desculpe, parece que você não tem acesso a este conteúdo!</h1>

<a class="btn btn-outline-secondary btn-lg" asp-controller="Home" asp-action="Index">Voltar</a>