@model EmpresteFacil.Models.Entities.Emprestimo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Emprestimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValorTotalEmprestimo" class="control-label"></label>
                <input asp-for="ValorTotalEmprestimo" class="form-control" />
                <span asp-validation-for="ValorTotalEmprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroParcelas" class="control-label"></label>
                <input asp-for="NumeroParcelas" class="form-control" />
                <span asp-validation-for="NumeroParcelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxaJuros" class="control-label"></label>
                <input asp-for="TaxaJuros" class="form-control" />
                <span asp-validation-for="TaxaJuros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioEmprestimo" class="control-label"></label>
                <input asp-for="DataInicioEmprestimo" class="form-control" />
                <span asp-validation-for="DataInicioEmprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
