@model List<EmpresteFacil.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus empréstimos</h1>

<p>
    <a asp-action="Create">Pedir um novo empréstimo</a>
</p>
<table class="table">
    <thead>
        @foreach(var item in Model){
        <tr>
            <th>
                @Html.DisplayNameFor(model => item.ValorTotalEmprestimo)
            </th>
            <th>
                    @Html.DisplayNameFor(model => item.NumeroParcelas)
            </th>
            <th>
                    @Html.DisplayNameFor(model => item.TaxaJuros)
            </th>
            <th></th>
        </tr>
        }
    </thead>
</table>
