@model List<EmpresteFacil.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus empréstimos</h1>

<p>
    <a asp-action="Create">Pedir um novo empréstimo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Valor total do empréstimo</p>
            </th>
            <th>
                <p>Número de parcelas</p>
            </th>
            <th>
                <p>Status</p>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => item.ValorTotalEmprestimo)
            </th>
            <th>
                @Html.DisplayFor(model => item.NumeroParcelas)
            </th>
            <th>
                @Html.DisplayFor(model => item.Status)
            </th>
        </tr>
    }
</table>
